@using BookRental.Entities
@model IEnumerable<Book>;

<div>
    <button type="button" class="btn btn-primary btn-lg" onclick="loadAddBookView()">Add new book</button>
    <button type="button" class="btn btn-primary btn-lg" onclick="loadAddNewClientView()">Add new client</button>

</div>

<div>
    <ul class="list-group">
        @foreach (var book in Model)
        {
            <li class="list-group-item">
                <div>
                    <div class="text-left">
                        Title: @book.Title
                    </div>
                    <div class="text-left">
                        Author: @book.Author
                    </div>
                    <div class="text-left">
                        Category: @book.Category
                    </div>
                    <div class="text-left">
                        Published: @book.Published.ToString("dd MMMM yyyy")
                    </div>
                    <div class="text-left">
                        Id: @book.Id
                    </div>
                    <div class="btn">
                        <button type="button" class="btn btn-primary" onclick="loadUpdateBookView(@book.Id)">Update</button>
                        <button type="button" class="btn btn-primary" onclick="deleteBook(@book.Id)">Delete</button>
                    </div>
                    <button type="button" class="btn btn-info" onclick="loadRentOrReturnBookView(@book.Id)">Rent/Return</button>

                </div>
            </li>
        }

    </ul>
</div>